.inicio{
  background: linear-gradient(to right, rgb(27, 106, 196), rgb(14, 17, 173));
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, rgb(94, 113, 151), rgb(14, 17, 173));
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body.VocêGanhou .container {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent; /* Removendo o fundo branco */
  padding: 20px;
  box-shadow: none; /* Removendo a sombra */
}
.biology-image {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  left: 40px;
  position: relative;
}
body.inicio h1 {
  margin: 0;
  font-size: 48px;
  margin-top: -23px;
}
body.inicio button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 27px;
  cursor: pointer;
  background-color: #1c9220;
  color: white;
  border: none;
  border-radius: 5px;
  right: -88px;
  position: relative;
}

body.inicio button:hover {
  background-color: #45a049;
}


